<body >
    <div class="vidcontainer1">
        <video class="bgvid1" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="../../assets/Droping_pills_on_a_table___Footage_is_shooted_from_under_a_glass_table.mp4">
        </video>
        
        
<div class="container ">
    <div class="row">
       
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <button type="button" class="btn btn-success">S'inscrire</button>
                      
                    </ul>
                    <img src="../../assets/dessin-anime-petit-docteur_61878-427.jpg">
                </div>
                <h3 class="title">Docteur</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <button type="button" class="btn btn-success">S'inscrire</button>
                      
                    </ul>
                    <img src="../../assets/femme-affaires-repondant-courrier-electronique-au-bureau_1262-19739.jpg">
                </div>
                <h3 class="title">Secretaire</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <button type="button" class="btn btn-success">S'inscrire</button>
                    </ul>
                    <img src="../../assets/patient.jpg">
                </div>
                <h3 class="title">patient</h3>
               
            </div>
            
        </div>
    </div>
</div>
        
    </div>
</body>
