
  <div class="vid-container2">
    <video class="bgvid2" autoplay="autoplay" muted="muted" preload="auto" loop>
        <source src="../../assets/Pills_falling1.mp4">
    </video>
    
    <div class="form_wrapper">
      <div class="box1">
    <div class="form_container">
      <div class="title_container">
        <h2>Inscription</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="ecrire votre mot de passe" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="comfirmer votre mot de passe" required />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Nom" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Prénom" required />
                </div>
              </div>
            </div>
                  <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Homme</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Femme</label>
                </div>
                <div class="input_field select_option">
                  <select>
                    <option>Selectionner  une ville</option>
                    <option>Ariana</option>
                    <option>Beja</option>
                    <option>Ben Arous</option>
                    <option>Bizerte</option>
                    <option>Gabes</option>
                    <option>Gafsa</option>
                    <option>Jendouba</option>
                    <option>Kairouan</option>
                    <option>Kassrine</option>
                    <option>Kébili</option>
                    <option>Le Kef</option>
                    <option>Mahdia</option>
                    <option>Manouba</option>
                    <option>Medenine</option>
                    <option>Monastir</option>
                    <option>Nabeul</option>
                    <option>Sfax</option>
                    <option>Sidi Bouzid</option>
                    <option>Siliana</option>
                    <option>Sousse</option>
                    <option>Tataouine</option>
                    <option>Tozeur</option>
                    <option>Tunis</option>
                    <option>Zaghouan</option>
                  </select>
                  <div class="select_arrow"></div>
                </div>
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb1">
                  <label for="cb1">J'accepte  tous les termes et les conditions</label>
              </div>
              
            <input class="button" type="submit" value="S'inscrire" />
          </form>
        </div>
      </div>
    </div>
  </div>
    </div>
